h1 {
    text-align: center;
}

img{
    margin-left: auto;
    margin-right: auto;
    width: 250px;
     vertical-align: middle;
    display: block;
    margin-top: 20px;
}

#video{
    background: #65cdf1;
    color: #fff;
    text-align: center;
    position: absolute;
    margin-top: 20px;
    padding: 10px;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

